@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap'));

body {
    background: url("img/portada.png");
    background-repeat: no-repeat; 
    .cover{ margin-top:0; }
    background-color: #FFFFFF;
    font-style: "Abel", sans-serif;
    font-weight: 400;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    color: #0f1d4d;
    font-weight: 700;
}

h2 {
    font-family: "Josefin Sans", sans-serif;
    color: #0f1d4d;
    font-weight: 400;
}

h3 {
    text-align: left;
    font-family: "Josefin Sans", sans-serif;
    color: #0f1d4d;
    font-weight: 700;
}

h4 {
    font-family: "Josefin Sans", sans-serif;
    color: #0f1d4d;
    font-weight: 900;
    margin-top: 420px;
}

h5 {
    font-family: "Josefin Sans", sans-serif;
    color: #0f1d4d;
    font-weight: 700;
}

p {
    font-family: "Abel", sans-serif";
    color: #0f1d4d;
    font-weight: 400;
}

p2 {
    color: blue ;
}

.card {
    width: 610px;
    height: -10;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #dccbc1;
    border: hidden;
    position: relative;
    display: inline-block;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}

footer {
    background-color: #0f1d4d;
    color: white;
    font-size: 80%;
}

footer a {
    color: white;
}

footer a:hover {
    color: #dccbc1;
}
